In [4]:
import pandas as pd
import plotly.express as px

df_p = pd.read_csv('/content/drive/MyDrive/population_total.csv')
df_p = df_p.ffill(axis=1)
df_p = pd.melt(df_p,
                ["country"],
                       var_name="year",
                       value_name="population")
df_p = df_p.sort_values(by=["country","year"])

df_l = pd.read_csv('/content/drive/MyDrive/life_expectancy_years.csv')
df_l = pd.melt(df_l,
                ["country"],
                       var_name="year",
                       value_name="life_expectancy")
df_l = df_l.sort_values(by=["country","year"])

df_g = pd.read_csv('/content/drive/MyDrive/gnipercapita_ppp_current_international.csv')
df_g = pd.melt(df_g,
                ["country"],
                       var_name="year",
                       value_name="gni")
df_g = df_g.sort_values(by=["country","year"])

df_m1 = pd.merge(df_p,df_l,on=['country','year'])
df = pd.merge(df_m1,df_g,on=['country','year'])

df

          country  year population  life_expectancy   gni
0     Afghanistan  1990      12.4M             53.8   NaN
1     Afghanistan  1991      13.3M             53.8   NaN
2     Afghanistan  1992      14.5M             54.2   NaN
3     Afghanistan  1993      15.8M             54.4   NaN
4     Afghanistan  1994      17.1M             53.9   NaN
...           ...   ...        ...              ...   ...
5823     Zimbabwe  2016        14M             59.2  2560
5824     Zimbabwe  2017      14.2M             59.9  3210
5825     Zimbabwe  2018      14.4M             60.6  3370
5826     Zimbabwe  2019      14.6M             61.0  3100
5827     Zimbabwe  2020      14.9M             60.7  2850

[5828 rows x 5 columns]

In [13]:
import pandas as pd
df['year'] = pd.to_numeric(df["year"])

AttributeError: ignored

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5828 entries, 0 to 5827
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          5828 non-null   object
 1   year             5828 non-null   int64
 2   population       5828 non-null   object
 3   life_expectancy  5822 non-null   float64
 4   gni              5430 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 273.2+ KB

In [5]:
###
fig = px.scatter(data_frame=df, x="gni", y="life_expectancy", size="population", color="country")
fig.show()

TypeError: ignored